@{
    ViewData["Title"] = "totallyBSsimracing";
}

<body style="">      
    <div class="text-center">
        <h1 class="display-4 text-white">Welcome to totally BS simracing</h1>  
        <p><a style="color: #E6FF1F" href="https://members.iracing.com/membersite/member/CareerStats.do?custid=564678" target="_blank">See my full profile on iRacing!</a></p>
    </div>
</body>
