@model Ratings

@{
    ViewData["Title"] = "About Me";
}

<body style="background-image: url('/css/image/vantageGT4filtered.jpg')">
    <div class="text-center text-white" style="background-color: rgba(41,43,44, 0.94) !important">
        <p>
            Hello! Welcome to totallyBSsimracing! My name is Billy, and I am an avid motorsport and sim racing fan. 

            I've created this website for a couple different reasons. One, I am growing in my skills and knowledge as a software developer, and 
            this project helps me along the way in growing. Two, I am 
        </p>
    </div>
</body>